Importing all the dependencies

In [3]:
import numpy as np
import pandas as pd 
from sklearn.model_selection import train_test_split 
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

In [4]:
# Load the dataset
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [5]:
# check the number of rows and columns
credit_card_data.shape

(35742, 31)

In [6]:
# first 5 rows of dataset
credit_card_data.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0     0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1     0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2     1 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3     1 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4     2 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0

[5 rows x 31 columns]

In [7]:
# Last 5 rows of data
credit_card_data.tail()

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
35737  38240  1.232390  0.122010  0.157352  ... -0.018118 -0.003168    1.79    0.0
35738  38240  1.114040  0.571203  0.427035  ... -0.035775  0.011219   24.99    0.0
35739  38241  1.057020  0.007895  0.239256  ...  0.027467  0.010613   53.96    0.0
35740  38241 -1.546226  0.693338  1.002815  ...  0.043625 -0.140629    0.76    0.0
35741  38241 -0.231062  0.243033  1.071749  ...       NaN       NaN     NaN    NaN

[5 rows x 31 columns]

In [8]:
# getting the basic information about the dataset
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35742 entries, 0 to 35741
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    35742 non-null  int64
 1   V1      35742 non-null  float64
 2   V2      35742 non-null  float64
 3   V3      35742 non-null  float64
 4   V4      35742 non-null  float64
 5   V5      35742 non-null  float64
 6   V6      35741 non-null  float64
 7   V7      35741 non-null  float64
 8   V8      35741 non-null  float64
 9   V9      35741 non-null  float64
 10  V10     35741 non-null  float64
 11  V11     35741 non-null  float64
 12  V12     35741 non-null  float64
 13  V13     35741 non-null  float64
 14  V14     35741 non-null  float64
 15  V15     35741 non-null  float64
 16  V16     35741 non-null  float64
 17  V17     35741 non-null  float64
 18  V18     35741 non-null  float64
 19  V19     35741 non-null  float64
 20  V20     35741 non-null  float64
 21  V21     35741 non-null  float64
 22  V22     35741 non-null  float64
 23  V23     35741 non-null  float64
 24  V24     35741 non-null  float64
 25  V25     35741 non-null  float64
 26  V26     35741 non-null  float64
 27  V27     35741 non-null  float64
 28  V28     35741 non-null  float64
 29  Amount  35741 non-null  float64
 30  Class   35741 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 8.5 MB

In [9]:
# check the missing values of the dataset
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        1
V7        1
V8        1
V9        1
V10       1
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [10]:
# Removing the null value at last records
credit_card_data.drop(credit_card_data.tail(2).index, inplace= True)

In [11]:
credit_card_data.tail()

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
35735  38239 -1.753297 -0.115577  1.333006  ...  0.121737 -0.139373  232.35    0.0
35736  38239 -3.120568 -0.121316  1.307875  ... -0.870421  0.624730    2.28    0.0
35737  38240  1.232390  0.122010  0.157352  ... -0.018118 -0.003168    1.79    0.0
35738  38240  1.114040  0.571203  0.427035  ... -0.035775  0.011219   24.99    0.0
35739  38241  1.057020  0.007895  0.239256  ...  0.027467  0.010613   53.96    0.0

[5 rows x 31 columns]

In [12]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [13]:
# Distribution of the legit transaction and fradulent transaction
credit_card_data['Class'].value_counts()

0.0    35637
1.0      103
Name: Class, dtype: int64

0 ---> legit (Normal) transaction

1 ---> fraudulent transaction

This dataset is highly unbalanced

In [14]:
# Separating legit and froudulent data for Analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraudulent = credit_card_data[credit_card_data.Class == 1]

In [18]:
# Statistical measure of the data
legit.Amount.describe()

count    35637.000000
mean        84.187582
std        227.226117
min          0.000000
25%          7.000000
50%         22.000000
75%         76.000000
max       7879.420000
Name: Amount, dtype: float64

In [19]:
fraudulent.Amount.describe()

count     103.000000
mean       90.471165
std       247.173335
min         0.000000
25%         1.000000
50%         3.760000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [20]:
# Compare the value for both transation
credit_card_data.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28     Amount
Class                                    ...
0.0    24006.614474 -0.186555  0.055891  ...  0.008490  0.003553  84.187582
1.0    20498.291262 -7.762676  5.838647  ...  0.822304  0.102481  90.471165

[2 rows x 30 columns]

Under-Sampling

Build a sample dataset containing similar distribution of normal transactions and Fraudulent Transactions

Number of Fraudulent Transactions --> 103

In [21]:
legit_sample = legit.sample(n=103)

In [25]:
# Building new dataset by concatenating two dataset.
new_dataset = pd.concat([legit_sample,fraudulent],axis = 0)

In [26]:
new_dataset.shape

(206, 31)

In [27]:
new_dataset.head()

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
5934    6554 -3.931647 -3.754124  1.239639  ... -0.047176 -0.568554  164.05    0.0
12699  22261  1.090666  0.336109 -0.072621  ... -0.050001  0.022698   99.99    0.0
24480  33257  1.142035 -0.153744  0.810678  ...  0.093368  0.020772   15.35    0.0
19283  30147 -0.970480  0.160098  0.568130  ...  0.059232  0.073351    9.99    0.0
18936  29879  1.337213  0.298634 -0.525199  ... -0.073587 -0.006526   17.97    0.0

[5 rows x 31 columns]

In [29]:
new_dataset.tail()

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
30442  35926 -3.896583  4.518355 -4.454027  ...  0.635789  0.501050    4.56    1.0
30473  35942 -4.194074  4.382897 -5.118363  ...  0.473934  0.473757   14.46    1.0
30496  35953 -4.844372  5.649439 -6.730396  ...  0.210214  0.391855  111.70    1.0
31002  36170 -5.685013  5.776516 -7.064977  ...  0.303445  0.219380  111.70    1.0
33276  37167 -7.923891 -5.198360 -3.000024  ...  1.937421 -1.552593   12.31    1.0

[5 rows x 31 columns]

In [31]:
new_dataset['Class'].value_counts()

1.0    103
0.0    103
Name: Class, dtype: int64

In [32]:
new_dataset.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28     Amount
Class                                    ...
0.0    25389.582524 -0.171824 -0.097920  ...  0.022512  0.069448  89.510874
1.0    20498.291262 -7.762676  5.838647  ...  0.822304  0.102481  90.471165

[2 rows x 30 columns]

Partition of dataset into features and target attribute

In [34]:
X = new_dataset.drop(['Class'],axis = 1)
Y = new_dataset['Class']

In [35]:
print(X)
print(Y)

        Time        V1        V2  ...       V27       V28  Amount
5934    6554 -3.931647 -3.754124  ... -0.047176 -0.568554  164.05
12699  22261  1.090666  0.336109  ... -0.050001  0.022698   99.99
24480  33257  1.142035 -0.153744  ...  0.093368  0.020772   15.35
19283  30147 -0.970480  0.160098  ...  0.059232  0.073351    9.99
18936  29879  1.337213  0.298634  ... -0.073587 -0.006526   17.97
...      ...       ...       ...  ...       ...       ...     ...
30442  35926 -3.896583  4.518355  ...  0.635789  0.501050    4.56
30473  35942 -4.194074  4.382897  ...  0.473934  0.473757   14.46
30496  35953 -4.844372  5.649439  ...  0.210214  0.391855  111.70
31002  36170 -5.685013  5.776516  ...  0.303445  0.219380  111.70
33276  37167 -7.923891 -5.198360  ...  1.937421 -1.552593   12.31

[206 rows x 30 columns]
5934     0.0
12699    0.0
24480    0.0
19283    0.0
18936    0.0
        ...
30442    1.0
30473    1.0
30496    1.0
31002    1.0
33276    1.0
Name: Class, Length: 206, dtype: float64

Data Splitting into Training and test data

In [36]:
X_train, X_test, Y_train, Y_test = train_test_split( X,Y, test_size =0.1, stratify = Y, random_state = 1)

In [37]:
print( X.shape, X_train.shape, X_test.shape)

(206, 30) (185, 30) (21, 30)

Model Building and Training

In [38]:
 model = LogisticRegression()

In [39]:
model.fit(X_train, Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

Model Evaluation

In [40]:
# Prediction Accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [41]:
print('Accuracy score on training data :', training_data_accuracy)

Accuracy score on training data : 0.9837837837837838

In [42]:
# Prediction accuracy on testing data
X_test_prediction = model.predict(X_test)
Test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [43]:
print('Accuracy score on testing data :' , Test_data_accuracy)

Accuracy score on testing data : 0.9523809523809523